footer{
    background-color: $color-secundario;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    a{
        img{
            height: 40px;
            width: 40px;
            margin: 6px;            
        }

    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 6px;        
        li{
            a{
                text-decoration: none;
                color: rgb(94, 97, 240);
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
    div{
        display: flex;
        a{
            i{
                color: rgb(94, 97, 240);
                font-size: 25px;
                margin: 6px;
                margin-left: 3px;
            }
        }
    }

}