.productos{
    background-image: url(../img/back.jpg);
    padding-top: 20px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
    h1{
        color:white;
        background-color: $bg-color;
        padding: 20px;
        @include flex(flex, center, center, column, nowrap);
        text-align: center;
    }
    h2{
        color: $color-h2;
        background-color: $bg-color;
        padding: 10px;
        width: auto;
        text-align: center;
    }
    p{
        display: block;
        text-align: center;
        width: 100%;
        font-size: 22px;
        color:white;
    }
    span{
        color: rgb(147, 158, 204);
        font-weight: 600;
    }
    div{
        h3{
            color: rgb(12, 82, 161);;
            font-size: nth($fsize, 4 );
            margin-bottom: 20px;
            margin-top: 15px;
            text-align: center;
        }
        section{
            color:white;
            @include flex(flex, center, center, row, wrap);
            margin: auto;
            background-color: $bg-color;
            border: 1px white solid;
            width: 96%;
            div{
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                margin: 15px;
                border: 1px solid rgb(1, 6, 53);
                transition: 1s;
                    &:hover{
                        transform: scale(1.04);
                        box-shadow: 0px 0px 10px 3px rgba(162,187,237,0.52);
                        -webkit-box-shadow: 0px 0px 10px 3px rgba(162,187,237,0.52);
                        -moz-box-shadow: 0px 0px 10px 3px rgba(162,187,237,0.52);
                    }
                p{
                    text-align: center;
                    font-size: nth($fsize, 2);
                    color: rgb(201, 245, 245);
                    background-color: black;
                    padding: 2px;
                    margin-bottom: 2px;
                }
                img{
                    width: 220px;
                    height: 230px;
                }
            }
        }
        .suplementos{
            margin-top: 40px;
        }
        h4{
            color:rgb(14, 102, 202);
            font-size: nth($fsize, 4);
            margin-bottom: 25px;
            @include flex(flex, center, center, column, nowrap)
        }
        .h4Importados{
            margin-top: 25px;
        }
        
    }

    .gridPagos{
        background-color: $bg-color;
        width: auto;
        margin: 0 auto;
        margin-top: 15px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        border-radius: 20px;
        .parrafo1{
            color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            padding: 12px;
            padding-left: 15px;
            padding-right: 15px;
            p{
                font-size: nth($fsize, 3);
                span{
                    color: blueviolet;
                    font-weight: 500;
                    
                }
            }
        }
        .tarjetas{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px;
            padding-left: 12px;
            padding-right: 12px;
            img{
                width: 60px;
                height: 40px;
                border-radius: 7px;
                margin: 2px;
                margin-bottom: 10px;
            }
        }
        .parrafo2{
            color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            padding-left: 12px;
            padding-right: 12px;
            p{
                font-size: nth($fsize, 3);
            }
        }
        .envio{
            color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 8px;
            padding-left: 12px;
            padding-right: 12px;
            img{
                width: 60px;
                height: 40px;
                border-radius: 7px;
                margin: 2px;
            }
        }
        .parrafo3{
            color: rgb(255, 255, 255);
            margin-top: 19px;
            display: flex;
            justify-content: center;
            padding-left: 12px;
            padding-right: 12px;

            p{
                font-size: nth($fsize, 3);
            }
                
            .animate__pulse{
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
            }

        }
    }

}