.serviciosGeneral{
    background-image: url(../img/back.jpg);
    section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        h1{
            display: flex;
            justify-content: space-around;
            color: white;
            margin-top: 6px;
            margin-bottom: 12px;
        }
        div{
            background-color: $bg-color;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: row;
            margin: 30px;
            padding: 10px;
            border: 2px white solid;
            div{
                display: flex;
                align-items: start;
                flex-direction: column;
                border: none;
                h2{
                    color: $color-h2;
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    margin-bottom: 8px;
                    font-size: nth($fsize, 4);
                }
                p{
                    font-size: nth($fsize, 2);
                    color: white;
                }
            }
            .imglink{
                margin: auto;
                img{
                    width: 220px;
                    height: 150px;
                    margin: auto;
                }
                a{
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin: auto;
                    margin-top: 4px;
                    @extend %btn-general;
                        &:hover{
                            @extend %btn-hover
                    }
                }
            }
        }
        .design2{
            display: flex;
            flex-direction: row-reverse;
        }        
    }
}